<html>
    <head></head>
    <body>
        <a href="{{ path('app_home')}}">home page</a>
        <a href="{{ path('app_contact')}}">contact us</a>
        <a href="{{ path('app_author_show')}}">author</a>
        <h1>the author Name: {{authorName}}</h1>
        <h1>the author Name: {{authorEmail}}</h1>


    </body>
</html>